:root{
    --background: hsl(212, 45%, 89%);
    --qr-bg-color:hsl(0, 0%, 100%);
    --qr-body-color: hsl(216, 15%, 48%);
    --qr-heading-color: hsl(218, 44%, 22%);

    --paragraph-font-size: 15px;
    --outfit-regular: 400;
    --outfit-bold: 700;

    --radius: 12px;
}

.box-shadow{
    -webkit-box-shadow: 2px 20px 57px -4px rgba(31,50,81,0.29);
    -moz-box-shadow: 2px 20px 57px -4px rgba(31,50,81,0.29);
    box-shadow: 2px 20px 57px -4px rgba(31,50,81,0.29);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    min-height: 100vh;
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    background-color: var(--qr-bg-color);
    border-radius: 15px;
    padding: 15px 15px 25px 15px;
    gap: 15px;
    width: 18rem;
}

div, div>img, h1, p{ display: block; }

div{
    max-width:100%;
    border-radius: var(--radius);
    & img{
        width:100%;
        border-radius: var(--radius);
    }
}

h1{
    font-size: larger;
    font-weight: var(--outfit-bold);
    color: var(--qr-heading-color);
}

p{
    font-size: var(--paragraph-font-size);
    font-weight: var(--outfit-regular);
    color: var(--qr-body-color);
}
